<div>
    {{#if image}}
        <img src="{{image}}" alt="">
            {{else}}
                <img src="https://i2.wp.com/nigeriahealthcareawards.com.ng/wp-content/uploads/2018/01/avatar-1577909_960_720.png" alt="{{author.name}}">
    {{/if}}
</div>
       
{{yield}}
