<h1>Create blog</h1>
<p>Title</p>{{input data-test-new-blog-title value=title}}
<p>Body</p>{{textarea data-test-new-blog-body value=body cols="30" rows="10"}}
<p><button data-test-save-blog {{action 'addBlog'}}>Submit</button></p>
