<ul id="nav">
    <li>{{#link-to 'authors'}}Authors{{/link-to}}</li>
    <li>{{#link-to 'blogs'}}Blogs{{/link-to}}</li>
    <li>{{#link-to 'blogs.comments'}}Comments{{/link-to}}</li>
</ul>
<div class="main">
    {{outlet}}
</div>
